*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light-color: #fff;
	--dark-color: #000;
	--hero-bg-color: rgba(5, 29, 5, 0.4);
	--green-color: rgb(0, 173, 0);
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 49px;
}

a {
	text-decoration: none;
	color: var(--dark-color);
}

button {
	background: none;
	border: none;
}

h2 {
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	margin-bottom: 10px;
}

.wrapper {
	margin: 0 20px;
}

.fa-check,
.fa-crown {
	color: var(--green-color);
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--dark-color);
	background-color: var(--light-color);
}

.section {
	margin: 0 auto;
	padding: 40px 0;
}

.navbar {
	position: fixed;
	top: 0;
	padding: 15px;
	width: 100%;
	background-color: var(--light-color);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
	z-index: 100;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	p {
		font-size: 1.3rem;
	}
}

.nav-items {
	display: none;
	height: 100%;
	a {
		padding: 20px;
		height: 100%;
		font-size: 1rem;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			color: var(--light-color);
			background-color: var(--dark-color);
		}
	}
}

.active {
	color: var(--green-color);
}

.burger-icon {
	position: relative;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	.fa-solid {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.fa-bars {
	opacity: 1;
}
.fa-xmark {
	opacity: 0;
}

.anime-show {
	transform-origin: 0 0;
	animation: test-show 0.5s linear forwards;
}
.anime-hide {
	transform-origin: 0 0;
	animation: test-hide 0.5s linear forwards;
}

.mobile-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	transform: translateY(-100%);
	font-size: 1.6rem;
	width: 100vw;
	height: 100vh;
	color: var(--green-color);
	background-color: var(--light-color);
	transition: transform 0.5s;
	z-index: 10;
	// &-active {
	// 	transform: translateY(0);
	// }
	a {
		border-bottom: 2px solid var(--green-color);
	}
}

.mobile-menu-active {
	transform: translateY(0);
}

.show-menu {
	top: 0;
}

.hero-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 2em auto;
	height: 40vh;
	background-image: url('../../dist/img/jungle-1807476_640.min.jpg');
	background-position: center;
	background-size: cover;
}

.hero-text {
	position: absolute;
	padding: 15px;
	width: 75%;
	font-size: 1.3rem;
	color: var(--light-color);
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--hero-bg-color);
}

.about-us {
	display: flex;
	flex-direction: column;
	.about-us-content {
		padding: 20px;
		.text {
			margin: 0 auto;
			h3 {
				margin-top: 20px;
			}
			p {
				line-height: 25px;
			}
		}
		img {
			width: 100%;
		}
	}
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 250px;
	background-image: url('../../dist/img/girl-5785590_640.min.jpg');
	background-position: center;
	background-size: cover;
}

.banner-text {
	position: absolute;
	text-align: center;
	padding: 20px;
	font-size: 26px;
	color: var(--light-color);
	border: 1px solid var(--light-color);
}

.banner-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--hero-bg-color);
}

.offer-subtitle {
	margin-bottom: 20px;
	text-align: center;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.options-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	padding: 30px 10px;
	width: 250px;
	border: 1px solid var(--dark-color);
	border-radius: 8px;
	box-shadow: 0 3px 10px #666;
	.option-description {
		p {
			margin-bottom: 5px;
		}
	}
}

.premium-extra {
	border: 1px solid var(--green-color);
	box-shadow: 0 3px 10px var(--green-color);
	.option-title {
		font-weight: bold;
		color: var(--green-color);
	}
	.option-description {
		p:last-child {
			font-weight: bold;
			text-transform: uppercase;
			color: var(--green-color);
		}
	}
	.btn-buy-it {
		color: var(--light-color);
		background-color: var(--green-color);
	}
}

.option-title {
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
}

.option-price {
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.btn {
	display: block;
	margin: 30px auto;
	padding: 5px 40px;
	background-color: var(--light-color);
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px 5px #666;
	transition: background-color 0.3s, box-shadow 0.3s;
	cursor: pointer;
	&:hover {
		background-color: rgb(0, 173, 0);
		box-shadow: 0 3px 5px rgb(0, 173, 0);
	}
}

.other-offers {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	width: 300px;
	text-align: center;
	border-radius: 8px;
	color: var(--light-color);
	background-color: var(--green-color);
	transition: box-shadow 0.3s;
	&:hover {
		box-shadow: 0 0 19px var(--green-color);
	}
}

.footer {
	background-color: #eee;
	.footer-content {
		padding: 20px;
	}
	.logo {
		font-size: 50px;
	}
}

.links {
	display: flex;
	justify-content: space-between;
	h6 {
		margin-bottom: 10px;
		font-size: 16px;
	}
	p {
		margin-bottom: 5px;
		font-size: 12px;
	}
}

.end {
	padding: 10px;
	text-align: center;
	border-top: 1px solid black;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.contact-box {
	margin: 30px auto;
	.question-form {
		display: flex;
		flex-direction: column;
	}
	h4 {
		margin-bottom: 20px;
	}
	h5 {
		margin-top: 10px;
	}
	label {
		margin-top: 10px;
	}
}

.form-alert {
	display: none;
	color: red;
}

#textarea {
	resize: none;
	padding: 5px;
}

.map {
	height: 200px;
}

.form-accept {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: rgb(211, 209, 209);
	box-shadow: 0 0 10px var(--green-color);
	border-radius: 8px;
	.btn-close {
		margin: 20px auto 0;
	}
}

.form-active {
	display: block;
}

@keyframes test-show {
	from {
		opacity: 0;
		rotate: 0deg;
	}
	to {
		opacity: 1;
		rotate: 1440deg;
	}
}

@keyframes test-hide {
	from {
		opacity: 1;
		rotate: 0deg;
	}
	to {
		opacity: 0;
		rotate: 1440deg;
	}
}

@media (min-width: 576px) {
	.wrapper {
		margin: 0 40px;
	}
	.map {
		height: 300px;
	}
}

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: flex;
		a {
			padding: 15px;
		}
	}
	.hero-text {
		font-size: 1.5rem;
	}
	.about-us {
		.about-us-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			img {
				width: 45%;
				object-fit: cover;
			}
			.text {
				width: 45%;
			}
		}
	}
	.banner {
		height: 250px;
		.banner-text {
			max-width: 600px;
		}
	}

	.options {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.footer {
		.footer-content {
			display: flex;
			justify-content: space-between;
			.links {
				width: 400px;
			}
		}
	}
	.contact-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.contact-box {
		flex-direction: row;
	}
}

@media (min-width: 992px) {
	.wrapper {
		max-width: 1000px;
	}
	.hero-image {
		background-image: url('../../dist/img/jungle-1807476_1920.min.jpg');
	}
	.banner {
		height: 300px;
		background-image: url('../../dist/img/girl-5785590_1920.min.jpg');
	}
	.map {
		height: 400px;
	}
}

@media (min-width: 1100px) {
	.wrapper {
		margin: 0 auto;
		max-width: 1000px;
	}
	.banner {
		height: 400px;
	}
}
